body {
    font-family: Arial;
    background: #FFD9E8;
    padding: 20px;
}

.titulo {
    text-align: center;
    color: #6A1B44;
}

.item, .caixa {
    background: white;
    padding: 15px;
    margin: 15px auto;
    max-width: 400px;
    border-radius: 10px;
    border: 2px solid #6A1B44;
}

button, .btn {
    background: #6A1B44;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: .9;
}