body {
    background-color: #FFD9E8;
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #4A2C2A;
    margin-bottom: 20px;
}

.endereco {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.endereco h2 {
    color: #4A2C2A;
    margin-bottom: 10px;
}

.endereco p {
    color: #333;
    line-height: 1.6;
}

.mapa iframe {
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.botao {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    background-color: #f191e4;
    color: #FFD9E8;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.botao:hover {
    background-color: #f5b1ea;
    transform: scale(1.05);
}
