body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #FFD9E8;
    color: #3e2723;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border: 3px solid white;
    border-radius: 20px;
    padding: 40px;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    margin: 40px 0;
}

h1 {
    color: #4e342e;
    margin-bottom: 30px;
}

.categoria {
    margin-bottom: 40px;
}

.categoria h2 {
    color: #6d4c41;
    border-bottom: 2px solid #ffb6c1;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.itens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.item {
    background-color: #fff8f9;
    border-radius: 15px;
    width: 250px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item p {
    margin: 0;
    font-size: 1.1em;
    color: #3e2723;
}

.botao-voltar {
    display: inline-block;
    margin-top: 20px;
    background-color: #ffb6c1;
    color: #3e2723;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.botao-voltar:hover {
    background-color: #ff99ad;
    transform: scale(1.05);
} 

.butao{
    background-color: #ff91bd;
    color:#ffffff;
    border: none;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 0 10px rgba(255,105,180,0.6);
    margin: 5px;
}

.butao:hover{
    transform: scale(1.05);
    margin: 5px;
}