body {
    background-color: #FFD9E8;
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #4A2C2A;
    margin-bottom: 40px;
}

.fundadora {
    margin-bottom: 50px;
}

.fundadora img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4A2C2A;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fundadora h2 {
    margin-top: 15px;
    color: #4A2C2A;
}

.fundadora p {
    max-width: 500px;
    margin: 10px auto;
    color: #333;
    line-height: 1.5;
}

.botao {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background-color: #ff91bd;
    color: #97673f;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.botao:hover {
    background-color: #ff91bd
    transform: scale(1.05);  
}
